@import "variables";
@import "extend";
@import "mixin";
@import "maps";
@import "header";
@import "footer";
@import "home";
@import "overclocks";
@import "productos";
@import "contacto";
@import "galeria";
@import "mediaquery";

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  color: #d0d4d7;
  text-decoration: none;
}

iframe {
  width: 100%;
}

.imagenRepresentativa {
  width: 100%;
  height: 350px;
}

.verde {
  color: $color-nvidia;
}
.rojo {
  color: $color-amd;
}
