ul {
  list-style: none;
  padding-left: 0px;
}

a {
  color: #d0d4d7;
  text-decoration: none;
}

iframe {
  width: 100%;
}

.imagenRepresentativa {
  width: 100%;
  height: 350px;
}

.verde {
  color: #78ba01;
}
.rojo {
  color: #ed1c24;
}

/* Header */

.precios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  z-index: 1050;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.contenedor-logo {
  transition: all 0.4s ease;
}
.contenedor-logo:hover {
  box-shadow: #ffffff 0px 1px 8px;
}
.logoPagina {
  animation: rotacion 1s ease 0s 3 normal forwards;
}
@keyframes rotacion {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.letraLogoPagina {
  text-shadow: #d0d4d7 0 8px 8px;
  animation: agrandar 1s ease 0s 3 normal forwards;
}
@keyframes agrandar {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.navegacion-footer li a {
  border-radius: 5px;
  transition: all 0.4s ease;
}
.navegacion-footer li a:hover {
  box-shadow: #ffffff 0px 1px 8px;
}
.iconos-footer:hover {
  box-shadow: #ffffff 0px 1px 8px;
  border-radius: 5px;
}
/* Main */
.container-titulo {
  height: 100vh;
}
.primeraLetraMayuscula {
  letter-spacing: 1px;
  padding-top: 30px;
}
.primeraLetraMayuscula::first-letter {
  font-size: 48px;
  font-weight: bold;
}

h1,
h2,
h5 {
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  text-shadow: #d0d4d7 0 8px 8px;
  letter-spacing: 14.5px;
  display: block;
  padding: 0 0 15px;
  position: relative;
}
h2:after {
  content: "";
  display: block;
  background: #d0d4d7;
  width: 40px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}
.miTitulo {
  width: 100%;
  color: transparent;
  text-transform: uppercase;
  font-size: 54px;
  font-weight: bold;
  text-align: center;

  background-image: url(imagenes/paisaje-digital-en-atardece.jpg);
  background-size: cover;
  background-position-y: top;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Productos */
table {
  margin: auto;
}
table thead th,
table tbody tr td {
  border: 5px solid;
  width: 200px;
  text-align: center;
}
.amazonLogo {
  width: 115px;
}
.fondo-nvidia {
  background-color: #78ba01;
}
.fondo-amd {
  background-color: #ed1c24;
}
.aviso p {
  border: solid;
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
  animation: pulso 2s ease 0s 3 normal forwards;
}
@keyframes pulso {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
/* Footer */
.iconos-footer {
  height: 30px;
  width: 30px;
  transition: all 0.4s ease;
}
.sub-rayado {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.sub-rayado:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #d0d4d7;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sub-rayado:hover:before,
.sub-rayado:focus:before,
.sub-rayado:active:before {
  left: 0;
  right: 0;
}

/* Overclocks */
.caja-centrada {
  width: 300px;
  margin: 16px auto;
  line-height: 2;
  padding: 30px 0px;
}

.gpu-nvidia-icono {
  width: 120px;
  height: 22px;
}
.container-card {
  width: 300px;
  height: 400px;
}
.nvidia-card {
  border: 2px #78ba01 solid;
  border-radius: 15px;
  transition: all 0.4s ease;
}
.nvidia-card:hover {
  box-shadow: #78ba01 0px 0px 10px;
}

.amd-card {
  border: 2px #ed1c24 solid;
  border-radius: 15px;
  transition: all 0.4s ease;
}
.amd-card:hover {
  box-shadow: #ed1c24 0px 0px 10px;
}

/* Galeria */
.container-card-galeria {
  width: 300px;
  height: 430px;
}

.logoEvga {
  height: 82px;
  width: 300px;
}
.logoXfx {
  width: 300px;
  margin-bottom: 10px;
}

.tarjeta-img {
  height: 254px;
}

/* Contacto */

form {
  border: #808080 3px solid;
  border-radius: 34px;
  padding: 10px 10px;
  max-width: 300px;
}
.animales {
  align-items: center;
  display: flex;
  font-family: "Merriweather", serif;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.containers {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.containers:after {
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.containers:hover {
  transform: scale(0.54);
}
.containers-inner {
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.containers:hover .img {
  transform: translateY(0) scale(1.2);
}

.divider {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
}
.name {
  color: #404245;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}

.content {
  display: contents;
}

/* Medias */

/* Header */

@media screen and (min-width: 768px) {
  .precios {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .nav-link {
    transition: all 0.4s ease;
  }
  .nav-link:hover {
    box-shadow: #ffffff 0px 1px 8px;
  }
}

/* Main */
@media screen and (min-width: 425px) {
  .miTitulo {
    font-size: 71px;
  }
}
@media screen and (min-width: 768px) {
  .miTitulo {
    font-size: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .miTitulo {
    font-size: 165px;
  }
}
@media screen and (min-width: 1440px) {
  .miTitulo {
    font-size: 195px;
  }
}

/* Overclocks */

@media screen and (min-width: 768px) {
  .caja-centrada {
    width: 700px;
  }
}
@media screen and (min-width: 768px) {
  .nvidia-card:hover {
    transform: scale(1.05);
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .amd-card:hover {
    transform: scale(1.05);
    font-size: 18px;
  }
}
/* Contacto */

@media screen and (min-width: 768px) {
  form {
    max-width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  form {
    height: 700px;
  }
}
